<div *ngIf="dataLoaded == false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Search Product</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Product Name..."
  />
</div>

<div *ngIf="filterText" class="alert alert-light">
  Filtered by: {{ filterText }}
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Kategori</th>
      <th>Ürün adı</th>
      <th>Fiyat</th>
      <th>Kdv'li Fiyat</th>
      <th>Stok Adedi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filterPipe : filterText">
      <td>{{ product.productId }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.productName | uppercase }}</td>
      <td>{{ product.unitPrice | currency }}</td>
      <td>
        {{ product.unitPrice | vatAdded : 18 | currency : "TRY" : "₺" }}
      </td>
      <td>{{ product.unitsInStock }}</td>
      <td>
        <button
          (click)="addToCart(product)"
          type="button"
          class="btn btn-light btn-sm"
        >
          To Cart
        </button>
      </td>
    </tr>
  </tbody>
</table>
